deployments/node-app/mongo-express.yaml
# Git files
.git
.gitattributes
.gitmodules
.gitkeep

# Ignore all files and directories except base/apps and deployments/node-app
/*
!/base/
/base/*
!/base/apps/

/deployments/*
!/deployments/node-app/
